<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <ion-list>
    <ion-item class="item-remove-animate " ng-repeat="message in chat.messages" type="item-text-wrap" ng-class="{ 'item-avatar-left': $index % 2 === 0, 'item-avatar-right': $index % 2 !== 0 }">
      <img ng-src="{{ message.author.photo }}">
      <h2>{{message.author.name}}</h2>
      <p>{{ message.content }}</p>
    </ion-item>

    </ion-list>

  </ion-content>
  <ion-footer-bar>

    <form ng-submit="send()">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="..." ng-model="message">
      </label>
    </form>
    <button ng-click="send()" class="button button-positive">Send</button>
  </ion-footer-bar>
</ion-view>
